/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2015, 10:39:07 PM
    Author     : MacDerson
*/
/*Abel|Raleway|Quicksand|Armata|Jura|*/
/*@import url(http://fonts.googleapis.com/css?family=Oxygen);*/
@import url(http://weloveiconfonts.com/api/?family=iconicfill);

@font-face{
    font-family: 'Walkway Black';
    src: url('fonts/Walkway_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Walkway Black', sans-serif;
    background-color: #303435;/*linear-gradient(90deg, #464A4D, #303435);*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar{
    width: 0;
    outline: none;
}
body::-webkit-scrollbar-button{
    width: 0;
    outline: none;
}
body::-webkit-scrollbar-track{
    width: 0;
    outline: none;
}
body::-webkit-scrollbar-track-piece{
    width: 0;
    outline: none;
}
body::-webkit-scrollbar-thumb{
    width: 0;
    outline: none;
}
body::-webkit-scrollbar-corner{
    width: 0;
    outline: none;
}
body::-webkit-resizer{
    width: 0;
    outline: none;
}

#requestFullScreenId{
    width: 50px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    /*border: 1px solid white;*/
}

.email-container{
    position: absolute;
    top: 270px;
    left: 75px;
    width: 300px;
    height: auto;
    max-height: 600px;
    /*border: 2px solid red;*/
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 3px;
}
.email-container::-webkit-scrollbar {
    width: 6px;
} 
.email-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 4px;
} 
.email-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

.email-header{
    position: relative;
    top: 0;
    left: 0;
    border: none;
    /*border: 2px solid #71BDF4;*/
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 8px;
}
.email-header input[type="checkbox"]{
    margin-top: 10px;
}
.email-header label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    margin-bottom: 10px;
    color: #f0f0f0;
}
.email-header label:before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
}
.email-header input[type=checkbox] {
    display: none;
}
.email-header input[type=checkbox]:checked + label:before {
    content:"\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.email-header .add-email {
    float: right;
    color: #02C03C;
    margin-right: 10px;
    cursor: pointer;
}


.css-input { 
    width: 85%;
    padding:3px; 
    font-size:15px; 
    text-align:left; 
    border-width:3px; 
    border-radius:6px; 
    border-style:solid; 
    border-color:#adadad; 
    background-color:#fafafa; 
    text-shadow:0px 0px 0px rgba(42,42,42,.75); 
    font-weight:bold;  
} 
.css-input:focus { 
    outline:none; 
}
.email-select{
    position: relative;
    margin-bottom: 10px;
}
.email-select label:before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 5px;
    bottom: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 2px;
    cursor: pointer;
}
.email-select input[type=checkbox] {
    display: none;
}
.email-select input[type=email] {
    margin-left: 27px;
    width: 85%;
}
.email-select button[type=button]{
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    background-color: #71BDF4;
}
.email-select input[type=checkbox]:checked + label:before {
    content:"\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 16px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}






.container{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 1000px;
    padding-bottom: 10px;
    /*border: 4px solid #0f0f0f;*/
    background-color: #f0f0f0;
    color: #000000;
    overflow: hidden;
}

header{
    position: relative;
    height: 100px;
}

.todo-val-container{
    max-height: 84px;
    min-height: 84px;
}

.text-input{
    position: relative;
    margin: 20px;
    width: 75%;
    height: 30px;
    padding: 5px;
    border: 2px solid #cccccc;
    font-size: 18px;
}
.type-but{
    position: relative;
    display: inline-block;
    border: 3px solid #0f0f0f;
    width: 90px;
    height: 30px;
    padding: 5px;
    margin-left: 15px;
    text-align: center;
    line-height: 30px;
    color: #3f3f3f;
    cursor: pointer;
}

.type-but > a, u {
    text-decoration: none;
    color: #000000;
}

polygon{
    fill-opacity:0.0;
    stroke:rgb(244,216,113);
    stroke-width:3;
}
line{
    stroke:rgb(244,216,113);
    stroke-width: 3;
}

.todo{
    padding: 5px;
    margin: 20px;
    border: 2px solid #f0f0f0;
    color: #0f0f0f;
    position: relative;
    background-color: #ffffff;

    box-shadow: 0 1px 3px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.type, .priority, .recurrence{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
    top: 0;
    background-color: #e3e3e3;
    color: #000000;
}
.type{
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    width: 100px;
    left: 0;
    padding-left: 5px;
}
.priority{
    width: 120px;
    right: 40%;
    text-align: center;
    background-color: #02C03C;
    cursor: pointer;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.pri-low{
    background-color: #02C03C;
}
.pri-med{
    background-color: #F4D871;
}
.pri-high{
    background-color: #F47771;
}
.recurrence{
    width: 180px;
    right: 15%;
    text-align: center;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.remove{
    position: absolute;
    top: -7px;
    right: 5px;
    font-size: 35px;
    color: #F47771;
    cursor: pointer;
}
/* iconicfill */
[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
}
.hr-line{
    margin-top: 30px;
    background: #cccccc;
}
.text-display{
    display: inline;
    position: absolute;
    border: 2px solid #f0f0f0;
    left: 5px;
    width: 97.6%;
    height: 30px;
    top: 42px;
    padding: 4px;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.button-container{
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 62%;
    line-height: 50px;
    margin-top: 40px;
    /*border: 1px solid black;*/
}

.send-to-container{
    display: inline-block;
    width: auto; /*380px;*/
    height: 42px;
    font-size: 0;
    /*border: 1px solid orange;*/
}

.send-to, .edit, .completed{
    display: inline-block;
    width: 85px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 3px solid #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}
.send-to{
    background-color: #71BDF4;
}
.edit{
    background-color: #F4D871;
}
.completed{
    background-color: #F47771;
}
.completed-tru{
    background-color: #02C03C;
}

.send-to-email{    
    width: 0;
    outline: 0;
    height: 35px;
    font-size: 16px;
    display: none;
    opacity: 0;
    vertical-align: top;
}

.by{
    display: inline-block;
    position: absolute;
    right: 70px;
    bottom: 5px;
    height: 30px;
    line-height:35px;
    width: 30%;
    /*border: 1px solid blue;*/
    vertical-align: top;
}
.by-input{
    /*border: 1px solid red;*/
    width: 80%;
    display: inline-block;
    height: 92%;
}
.hotspot{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 5px;
    right: 7px;
}

#confirmDialog{
    width: 10px;
    height: 10px;
    border: none;
    border-top: 5px solid #F4D871;
    text-align: center;
}
#confirmBanner{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 35px;
    text-spacing: 2px;
    background-color: #F4D871; 
    color: #5f5f5f;
}
#confirmDialog > label{
    display: inline-block;
    height: 30px;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}
#confirmDialog > .diaBtn{
    width: 100px;
    height: 45px;
    padding: 5px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}
#confirmDialog > .confirm{
    background-color: #02C03C;
    color: #f0f0f0;
}
#confirmDialog > .cancel{
    background-color: #F47771;
    color: #f0f0f0;
}

#addTodoDialog{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
}
.todo-label-input-con{
    display: inline-block;
    width: inherit;
    height: 35px;
    position: relative;
    /*border: 1px solid red;*/
    margin-bottom: 10px;
}
.add-todo-label{
    position: relative;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    line-height: 30px;
    padding-left: 5px;
    /*border: 2px solid blue;*/
    width: 125px;
    font-size: 18px;
    color: #f0f0f0;
}
.todoInput{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 30px;
    float: right;
    font-size: 16px;
    box-shadow: 0 1px 3px;
    padding-left: 2px;
    outline: none;
    border-color: #7f7f7f;
    transition: .5s;
}
.todoInput:focus{
    transition: .5s;
    border-color: #02C03C;
}
select.todoInput {
    width: 355px;
    border: 2px solid #F47771;
    outline: 0;
    transition: .5s;
}
textarea.todoInput{
    display: inline-block;
    height: 120px;
    resize: none;
}
#value-input{
    height: 125px; 
}
textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.pin-transition{
    transition: 1s;
    text-align: center;
    width: 98.3%;
    opacity: 1;
    cursor: pointer;
}

.page-container{
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
}
.first-page{
    background-color: #02C03C;
}
.page{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #5c5c5c;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
}
.page-transition{
    transition: background-color 0.5s ease;
    background-color: #02C03C;
}

.add-todo-label-top{
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #f0f0f0;
    margin-left: 65px;
}

.todo-clear-btn{
    display: block;
    width: 100px;
    height: 40px;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    float: right;
    margin-right: -2px;
    cursor: pointer;
    float: left;
    margin-left: 146px;
}
#add-btn{
    float: right;
    border: 2px solid #02C03C;
    margin-right: 1px;
}

/***********ng-repeat animation*************/
.todo.ng-leave,
.todo.ng-enter,
.todo.ng-move {
    transition: 1s;
    opacity: 0;
    /*height: 5px;*/
    width: 0%;
}
.todo.ng-enter.todo.ng-enter-active,
.todo.ng-move.todo.ng-move-active {
    opacity: 1;
    /*height: 130px;*/
    width: 95%;
}
.todo.ng-leave.todo.ng-leave-active{
    transition: 1s;
    opacity: 0;
    width: 0;
}

.todo.ng-enter-stagger,
.todo.ng-enter-stagger
{
    /* 50ms between each item being animated after the other */
    -webkit-transition-delay:50ms;
    transition-delay:50ms;

    /* this is required here to prevent any CSS inheritance issues */
    -webkit-transition-duration:0;
    transition-duration:0;
}
/***********end ng-repeat animation*************/

dialog{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.close-animatedModal{
    color: #f0f0f0;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 20px;
    font-size: 20px;
    margin-left: -20px;
    border: 1px solid #F47771;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}