/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2015, 10:39:07 PM
    Author     : MacDerson
*/
/*Abel|Raleway|Quicksand|Armata|Jura|*/
/*@import url(http://fonts.googleapis.com/css?family=Oxygen);*/
@import url(http://weloveiconfonts.com/api/?family=iconicfill);

@font-face{
    font-family: 'Walkway Black';
    src: url('fonts/Walkway_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    overflow: hidden;
}
body{
    font-family: 'Walkway Black', sans-serif;
    background: linear-gradient(90deg, #464A4D, #303435);
    overflow: hidden;
}
body::-webkit-scrollbar { width: 0 !important }
.container{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 1000px;
    padding-bottom: 10px;
    /*border: 4px solid #0f0f0f;*/
    background-color: #f0f0f0;
    color: #000000;
    overflow: hidden;
}

header{
    position: relative;
    height: 100px;
}

.todo-val-container{
    max-height: 84px;
    min-height: 84px;
}

.text-input{
    position: relative;
    margin: 20px;
    width: 50%;
    height: 30px;
    padding: 5px;
    border: 2px solid #cccccc;
    font-size: 18px;
}
.type-but{
    position: relative;
    display: inline-block;
    border: 3px solid #0f0f0f;
    width: 90px;
    height: 30px;
    padding: 5px;
    margin-left: 15px;
    text-align: center;
    line-height: 30px;
    color: #3f3f3f;
}

polygon{
    fill-opacity:0.0;
    stroke:rgb(244,216,113);
    stroke-width:3;
}
line{
     stroke:rgb(244,216,113);
     stroke-width: 3;
}

.todo{
    padding: 5px;
    margin: 20px;
    border: 2px solid #f0f0f0;
    color: #0f0f0f;
    position: relative;
    background-color: #ffffff;
    
    box-shadow: 0 1px 3px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.type, .priority, .recurrence{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
    top: 0;
    background-color: #e3e3e3;
    color: #000000;
}
.type{
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    width: 100px;
    left: 0;
    padding-left: 5px;
}
.priority{
    width: 120px;
    right: 40%;
    text-align: center;
    background-color: #02C03C;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.pri-low{
    background-color: #02C03C;
}
.pri-med{
    background-color: #F4D871;
}
.pri-high{
    background-color: #F47771;
}
.recurrence{
    width: 180px;
    right: 15%;
    text-align: center;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.remove{
    position: absolute;
    top: -7px;
    right: 5px;
    font-size: 35px;
    color: #F47771;
}
/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}
.hr-line{
    margin-top: 30px;
    background: #cccccc;
}
.text-display{
    display: inline;
    position: absolute;
    border: 2px solid #f0f0f0;
    left: 5px;
    width: 97.6%;
    height: 30px;
    top: 42px;
    padding: 4px;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.button-container{
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 40%;
    line-height: 50px;
    margin-top: 40px;
}

.send-to, .edit, .completed{
    display: inline-block;
    width: 30.24%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 3px solid #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
}
.send-to{
    background-color: #71BDF4;
}
.edit{
    background-color: #F4D871;
}
.completed{
    background-color: #F47771;
}
.completed-tru{
    background-color: #02C03C;
}
.by{
    display: inline-block;
    position: absolute;
    right: 70px;
    bottom: 5px;
    height: 30px;
    line-height:35px;
    width: 45%;
    /*border: 1px solid white;*/
    vertical-align: top;
}
.by-input{
    /*border: 1px solid red;*/
    width: 93%;
    display: inline-block;
    height: 92%;
}
.hotspot{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 5px;
    right: 7px;
}

#confirmDialog{
    width: 10px;
    height: 10px;
    border: none;
    border-top: 5px solid #F4D871;
    text-align: center;
}
#confirmBanner{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 35px;
    text-spacing: 2px;
    background-color: #F4D871; 
    color: #5f5f5f;
}
#confirmDialog > label{
    display: inline-block;
    height: 30px;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}
#confirmDialog > .diaBtn{
    width: 100px;
    height: 45px;
    padding: 5px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    display: inline-block;
}
#confirmDialog > .confirm{
    background-color: #02C03C;
    color: #f0f0f0;
}
#confirmDialog > .cancel{
    background-color: #F47771;
    color: #f0f0f0;
}

#addTodoDialog{
    width: 500px;
    height: auto;
}
.todo-label-input-con{
    display: inline-block;
    width: inherit;
    height: 45px;
    position: relative;
    /*border: 1px solid red;*/
    margin-bottom: 10px;
}
.add-todo-label{
    position: relative;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    line-height: 40px;
    padding-left: 5px;
    /*border: 2px solid blue;*/
    width: 125px;
    font-size: 24px;
}
.todoInput{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 40px;
    float: right;
    font-size: 20px;
}
.pin-transition{
    transition: 1s;
    text-align: center;
    width: 98.3%;
    opacity: 1;
}

.page-container{
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
}
.first-page{
    background-color: #02C03C;
}
.page{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #5c5c5c;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #000000;
}

/***********ng-repeat animation*************/
.todo.ng-leave,
.todo.ng-enter,
.todo.ng-move {
  transition: 1s;
  opacity: 0;
  /*height: 5px;*/
  width: 0%;
}
.todo.ng-enter.todo.ng-enter-active,
.todo.ng-move.todo.ng-move-active {
  opacity: 1;
  /*height: 130px;*/
  width: 95%;
}
.todo.ng-leave.todo.ng-leave-active{
    transition: 1s;
    opacity: 0;
    width: 0;
}

.todo.ng-enter-stagger,
.todo.ng-enter-stagger
{
  /* 50ms between each item being animated after the other */
  -webkit-transition-delay:50ms;
  transition-delay:50ms;

  /* this is required here to prevent any CSS inheritance issues */
  -webkit-transition-duration:0;
  transition-duration:0;
}
/***********end ng-repeat animation*************/